:root {
    --header-height: 2.5em;
    --table-border-color: rgb(200, 200, 200);
}

@font-face {
    font-family: ubuntu;
    src: url('../fonts/Ubuntu-Light.ttf'),  
        url('../fonts/Ubuntu-Regular.ttf'), 
        url('../fonts/Ubuntu-Bold.ttf');
}

body {
    font-family: ubuntu, sans-serif;
    background-color: rgb(250, 250, 250);
    color: rgb(80, 80, 80);
}

* {
    box-sizing: border-box;
}

body.dark {
    background-color: rgb(48, 48, 48);
    color: rgb(190, 190, 190);
}

img {
    -webkit-user-select: none;
    user-select: none;
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.language select {
    width: 8em;
    height: 2em;
    border-radius: 0%;
    text-align-last: center;
    background-color: rgb(230, 230, 230);
    color: rgb(80, 80, 80);
    border: none;
    outline: none;
}

.dark .language select {
    background-color: rgb(150, 150, 150);
    color: rgb(230, 230, 230);
}

.dark a:link {
    color: rgb(98, 157, 235);
}

.title-bar {
    -webkit-app-region: drag;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    background-color: rgb(240, 240, 240);
}

.dark .title-bar {
    background-color: rgb(90, 90, 90);
}

.title-bar .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.8em;
}

.title-bar .title img {
    height: 20px;
    width: 20px;
    margin: auto 15px;
}

.title-bar .action-buttons {
    -webkit-app-region: no-drag;
    display: flex;
    justify-content: flex-end;
    transition: background 0.5s;
    align-self: start;
    height: 100%;
}

.title-bar .action-buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.title-bar .action-buttons div:hover:not(.disabled) {
    background-color: rgb(200, 200, 200);
    transition: background 0.5s;
}

.title-bar .action-buttons div img {
    height: 15px;
    width: 15px;
}

.app-headers {
    display: flex;
    width: 100%;
}

.app-description {
    display: flex;
    flex-wrap: wrap;
}

.app-settings {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.theme {
    padding: 10px 10px;
    margin-bottom: 10px;
    transition: background 0.5s;
    cursor: pointer;
}

.theme:hover {
    background-color: rgb(200, 200, 200);
    transition: background 0.5s;
}

.theme:active {
    background-color: rgb(150, 150, 150);
    transition: background 0.5s;
}

.theme img {
    width: 2em;
    content: url('../img/moon.svg');
}

.dark .theme img {    
    content: url('../img/sun.svg');
    filter: invert(100%);
}

.main-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.wrapper {
    padding: 10vh 5vw;
}

.table-wrapper {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 10px; */
    overflow: hidden;
}

.table-borders {
    border-top: solid 2px var(--table-border-color);
    border-bottom: solid 2px var(--table-border-color);
}

.table-row { 
    display: flex;
    width: 100%;
}

.table-row .table-header {
    font-weight: bold;
    font-size: 1.1em;
    border-bottom: solid 2px var(--table-border-color);
}

.table-row .table-header div{
    display: flex;
    align-items: center;
    min-height: var(--header-height) !important;
}

.table-options .table-row {
    justify-content: space-between;
    align-items: center;
}

.table-sub-score .table-row div {
    min-height: 2.5em;
    display: flex;
    align-items: center;
}

.component-column {
    width: 30%;
    font-weight: bold;
}

.description-column {
    width: 55%;
}

.score-column {
    width: 15%;
    justify-content: center;
}

.base-score-column-header {
    flex-grow: 1;
    justify-content: center;
}

.base-score-column {
    text-align: center;
}

.base-score-column {    
    height: calc(100% -  var(--header-height));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    flex-grow: 1;
}

.grey-column {
    background-color: rgb(230, 230, 230);
    border: solid 1px rgb(230, 230, 230);
}

.dark .grey-column {
    background-color: rgb(150, 150, 150);
    color: rgb(230, 230, 230);
    border: solid 1px rgb(150, 150, 150);
}

.base-score {    
    display: flex;
}

.base-score div {  
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    /* padding: 15px 15px; */
    width: 1.8em;
    height: 1.8em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4); 
    color: rgb(250, 250, 250);
    
    background-color: rgb(76,114,154);
    
    background: linear-gradient(
        45deg, 
        rgb(76,114,154) 15%, 
        rgb(26,125,182) 35%, 
        rgb(0,212,255) 100%);
}

.base-score-description {
    font-size: 0.8em;
    text-align: center;
    padding: 0 10px 5px;
}

.assessment-date {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

#assessment-date {    
    padding-top: 10px;
    font-weight: bold;
}

.run-assessment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.run-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 0;
    border: solid 1px var(--table-border-colors);
    background-color: rgb(230, 230, 230);
    transition: background 0.5s;
    margin-right: 10px;
    font-size: 0.8em;
    font-weight: bold;
}

.dark .run-button {
    background-color: rgb(150, 150, 150);
    color: rgb(230, 230, 230);
}

.run-button:hover {
    background: rgb(200, 200, 200);
    transition: background 0.5s;
}

.run-button:active {
    background: rgb(150, 150, 150);
    transition: background 0.5s;
}

.run-button img {
    height: 1.1em;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px 0 10px;
    filter: contrast(0.3);
}

.dark .run-button img {    
    filter: invert(1);
}

.run-button div {
    padding-right: 8px;
    user-select: none;
}

.loader {
    border-top: 5px solid rgb(230, 230, 230);
    border-left: 5px solid rgb(230, 230, 230);
    border-bottom: 5px solid rgb(26,125,182);
    border-right: 5px solid rgb(26,125,182);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    animation: spin 1.5s linear infinite;
    margin-right: 1em;
  }

  .dark .loader {
    border-top: 5px solid rgb(150, 150, 150);
    border-left: 5px solid rgb(150, 150, 150);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.footer {
    position: absolute;
    width: 100%;
    bottom: 1em;
    left: 0;
    display: flex;
    justify-content: center;
}

.footer a {
    margin-left: 5px;
}